# HelloWorld

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.4.1'

### Variables and operations

In [5]:
a = 2
b = a

In [6]:
b += 10

In [7]:
a

2

In [8]:
b

12

In [9]:
s = "Hello World!"
print(s)

Hello World!

In [10]:
s[-1]

'!'

In [11]:
s

'Hello World!'

### Data structures

In [12]:
l = [1,2,3]
d = {1:"one",2:"two",3:"three"}

In [13]:
l.append(4)
l

[1, 2, 3, 4]

In [14]:
d.update({4:"four"})
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [15]:
l[2]

3

In [16]:
# comprehensions

[x*2 for x in l]

[2, 4, 6, 8]

In [17]:
# operations on lists

l*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [18]:
# arrays
import numpy as np

v = np.array(l)
v

array([1, 2, 3, 4])

In [19]:
# broadcasting

v*2

array([2, 4, 6, 8])

### Looping

In [20]:
for x in l:
    print(x/2)

0.5
1.0
1.5
2.0

In [21]:
n = 0

while n < len(l):
    print(l[n])
    n += 1

1
2
3
4

In [22]:
sorted(l, reverse=True)

[4, 3, 2, 1]

In [23]:
for n,x in enumerate(l):
    if n < 2:
        print(x)

1
2

### Functions

In [25]:
def power(x,p=2):
    return x**p

In [26]:
power(2)

4

In [28]:
power(2,3)

8

In [34]:
[x*5 for x in range(5) if x/2 >= 2]

[20]

In [65]:
import string
print(string.punctuation)

str = "UPPER Case"
str.lower()

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

'upper case'

In [66]:
import re
import string
def function(x):
    "new_string = x.translate(x.maketrans('', '', x.punctuation))"
    new_string = re.sub(r'[^\w\s]', '', x)
    new_string.lower()
    return(new_string.lower())
 
string = "Hello world, I am leArning to program again!"  
function(string)

'hello world i am learning to program again'

### Questions

* Create a list coprehension with an if condition inside.
* Create a function that brings a string to lowercase and removes its punctuation.